@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); 

#container {
  display: block;
  justify-content: center;  
  align-items: center;  
  height: 50px;
} 
#ltterminal {
  display: inline-block;
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}
#long-ltterminal {
  display: inline-block;
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
} 
#ltterminal__bar {  
  display: flex;  
  width: 100%;  
  height: 20px;  
  align-items: center;  
  padding: 0 8px;  
  box-sizing: border-box;  
  border-top-left-radius: 5px;  
  border-top-right-radius: 5px;  
  background: linear-gradient(#504b45 0%,#3c3b37 100%);
} 
#ltbar__buttons {  
  display: flex;  
  align-items: center;
} 
.ltbar__button {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 0;  
  margin-right: 5px;  
  font-size: 16px;  
  height: 12px;  
  width: 12px;  
  box-sizing: border-box;  
  border: none;  
  border-radius: 10%;  
  background: linear-gradient(#ffffff 0%, #595953 100%);  
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2);  
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.ltbar__button:hover {  
  cursor: pointer;
}
.ltbar__button:focus {  
  outline: none;
}
#ltbar__button--exit {  
  background: linear-gradient(#ffffff 0%, #595953 100%);    
  background-clip: padding-box;
} 
#ltbar__user {
  color: #d5d0ce;
  margin-top: 9px;
  margin-left: 30%;
  margin-right: 10%;
  font-size: 14px;  
  line-height: 15px;
} 
#ltterminal__body {
  width: auto;
  white-space: nowrap;
  overflow: auto;
  background: rgba(250, 250, 250, 0.8);
  font-family: 'Ubuntu Mono';
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
}

/** COOL SCROLL **/
#ltterminal__body::-webkit-scrollbar {
            width: 1px;
	        height: 9px;
}
        
#ltterminal__body::-webkit-scrollbar-track {
            border-radius: 1px;
            background-color: #404040;
            border: 1px solid #ffffff;
}
        
#ltterminal__body::-webkit-scrollbar-thumb {
            border-radius: 1px;
            background-color: #e8e8e8;
}
/** END Cool Scroll **/

#ltterminal__prompt {
  display: flex;
}
#ltterminal__prompt--user {
  color: #000;
  margin-top: 1px;
}
#ltterminal__prompt--location { 
  color: #000;
  margin-top: 1px;
}
#ltterminal__prompt--bling {
  color: #595959;
}
#ltterminal__prompt--cursor {  
  display: flex;  
  height: 17px;  
  width: 8px;  
  margin-top: 9px;
  margin-left: 9px;  
  animation: blink 1200ms linear infinite;
}
@keyframes blink {
  0% {
    background: #FF9E00;
  }
  49% {
    background: #FF9E00;
  }
  60% {
    background: transparent;
  }  
  99% {    
    background: transparent;
  }  100% {    
    background: #FF9E00;  
  }
}
@media (max-width: 600px) {
  #ltterminal {
    max-height: 90%;
    width: 100%;
  }

  #long-ltterminal {
    max-height: 90%;
    width: 100%;
  }
}
